<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seo>
            <link_masking>
                <is_enabled>0</is_enabled>
                <default_masking_state>0</default_masking_state>
                <only_one_filter_demasked>0</only_one_filter_demasked>
                <is_short_filter_url_enabled>0</is_short_filter_url_enabled>
                <is_displaying_warning_about_duplicated_options_enabled>1</is_displaying_warning_about_duplicated_options_enabled>
                <cache_length_for_warning_about_duplicated_options>10800</cache_length_for_warning_about_duplicated_options>
                <enable_filter_params_in_canonical>0</enable_filter_params_in_canonical>
                <space_replacement_character>+</space_replacement_character>
                <multiselect_option_separator>--</multiselect_option_separator>
            </link_masking>
        </seo>
    </default>
</config>
