<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seo>
            <link_masking>
                <is_enabled>0</is_enabled>
                <default_masking_state>0</default_masking_state>
                <is_short_filter_url_enabled>0</is_short_filter_url_enabled>
                <multiselect_option_separator>--</multiselect_option_separator>
            </link_masking>
        </seo>
    </default>
</config>
