<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Layer\Filter\AbstractFilter">
        <plugin name="is_link_masking_enabled" type="MageSuite\SeoLinkMasking\Plugin\Catalog\Model\Layer\Filter\AbstractFilter\IsLinkMaskingEnabled"/>
    </type>

    <type name="Magento\Swatches\Block\LayeredNavigation\RenderLayered">
        <plugin name="add_link_masking_to_swatch_data" type="MageSuite\SeoLinkMasking\Plugin\Swatches\Block\LayeredNavigation\RenderLayered\AddLinkMaskingToSwatchData" />
    </type>

    <type name="Smile\ElasticsuiteCatalog\Block\Navigation\Renderer\Attribute">
        <plugin name="add_link_masking_to_filter_data" type="MageSuite\SeoLinkMasking\Plugin\Smile\ElasticsuiteCatalog\Block\Navigation\Renderer\Attribute\AddLinkMaskingToFilterData" />
    </type>

</config>





