<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Layer\Filter\AbstractFilter">
        <plugin name="is_link_masking_enabled" type="MageSuite\SeoLinkMasking\Plugin\Catalog\Model\Layer\Filter\AbstractFilter\IsLinkMaskingEnabled" />
    </type>

    <type name="Magento\Catalog\Model\Layer\Filter\Item">
        <plugin name="adjust_filter_item_url" type="MageSuite\SeoLinkMasking\Plugin\Catalog\Model\Layer\Filter\Item\AdjustFilterItemUrl" />
    </type>

    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="short_filter_url" xsi:type="array">
                    <item name="class" xsi:type="string">MageSuite\SeoLinkMasking\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">15</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\SeoLinkMasking\Controller\Router">
        <arguments>
            <argument name="ignoredUrlPatterns" xsi:type="array">
                <item name="catalog_category_view" xsi:type="string">catalog/category/view/*</item>
            </argument >
        </arguments>
    </type>

    <type name="Magento\Swatches\Block\LayeredNavigation\RenderLayered">
        <plugin name="add_link_masking_to_swatch_data" type="MageSuite\SeoLinkMasking\Plugin\Swatches\Block\LayeredNavigation\RenderLayered\AddLinkMaskingToSwatchData" />
    </type>

    <type name="Smile\ElasticsuiteCatalog\Block\Navigation\Renderer\Attribute">
        <plugin name="add_link_masking_to_filter_data" type="MageSuite\SeoLinkMasking\Plugin\Smile\ElasticsuiteCatalog\Block\Navigation\Renderer\Attribute\AddLinkMaskingToFilterData" />
    </type>

    <type name="Magento\Theme\Block\Html\Pager">
        <plugin name="add_link_masking_to_pagination" type="MageSuite\SeoLinkMasking\Plugin\Theme\Block\Html\AddLinkMaskingToPager" />
    </type>

    <type name="\Magento\Framework\View\Page\Config">
        <plugin name="add_filter_params_to_canonical_link" type="MageSuite\SeoLinkMasking\Plugin\Catalog\Block\Category\View\AddFilterParamsToCanonicalLink" sortOrder="10" />
    </type>
</config>
