<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Model\Category\DataProvider">
        <plugin name="seo_link_masking_data_provider" type="MageSuite\SeoLinkMasking\Plugin\Catalog\Model\Category\DataProvider\AddFilterableAttributes" />
    </type>
</config>
