<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="seo" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SEO</label>
            <tab>magesuite</tab>
            <resource>MageSuite_SeoLinkMasking::configuration</resource>
            <group id="link_masking" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Link masking</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[By enabling this option, filter links will be "masked" - filter link will not be visible on the storefront and data will be send via POST instead of GET request.]]>
                    </comment>
                </field>
                <field id="default_masking_state" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Masking State</label>
                    <source_model>MageSuite\SeoLinkMasking\Model\Source\DefaultMaskingState</source_model>
                    <comment>
                        <![CDATA[If "Is Masked" is selected, all filters links will be masked by default. It can be overwritten for each filter link in category edit page.]]>
                    </comment>
                </field>
                <field id="only_one_filter_demasked" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Only one filter demasked</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[By enabling this option, only one filter will be demasked. If customer choose any filter, the rest will be masked.]]>
                    </comment>
                </field>
                <field id="is_short_filter_url_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable hiding of filter names in URL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[When enabled, filters in URL will contain only the value, without the key. Example: "domain.com/category?color=blue&size=XS" before, "domain.com/category/blue/XS" after. <strong style="color:red">Warning</strong>: Do not use this option when attributes contain the same values, like "color=<span style="color:blue">blue</span>" and "print_color=<span style="color:blue">blue</span>".]]>
                    </comment>
                </field>
                <field id="multiselect_option_separator" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Option Separator</label>
                    <comment>
                        <![CDATA[This separator will be used to separate options in multiselect filter.]]>
                    </comment>
                </field>
                <field id="is_utf_friendly_mode_enabled" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Utf Friendly Mode Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[By enabling this option, filter parameters will be converted to utf friendly format - umlauts characters would converted.]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
